@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azul-escuro: hsl(240, 38%, 20%);
    --cinza-claro: hsl(240, 18%, 77%);
}

body{
    background-image: url("/images/pattern-bg.svg"), url("/images/pattern-curve.svg"), url("/images/pattern-quotes.svg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center 25px, left bottom, center 375px;
    background-size: 330px, 300px, 60px;
    padding: 3.5em 2em;
    height: 100vh;
    width: 100vw;
}

main{
    text-align: center;
    font-family: 'Inter', sans-serif;
    position: relative;
}

.conjunto img{
    border-radius: 5px;
    width: 82%;
    margin: auto;
}

.botoes{
    cursor: pointer;
    position: absolute;
    top: 235px;
    left: 115px;
    display: flex;
    justify-content: space-between;
    width: 78px;
    margin: auto;
    background-color: white;
    border-radius: 50px;
}

.botoes img{
    background: transparent;
    border: none;
    padding: 0.65em 0.75em;
}

.texto{
    margin: 5em 0;
}

.texto > p{
    margin-bottom: 1em;
    font-size: 1.1em;
    font-weight: 300;
}

.personal .nome{
    font-size: .9em;
    color: var(--azul-escuro);
    font-weight: 700;
}

.personal .profissao{
    font-size: .85em;
    color: var(--cinza-claro);
    font-weight: 500;
}

.u {
    animation: effect 300ms ease 1; 
}


@media screen and (min-width:1440px) {

    body{
        background-image: url("/images/pattern-bg.svg"), url("/images/pattern-curve.svg"), url("/images/pattern-quotes.svg");
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 785px 70px, left bottom, 300px 270px;
        background-size: 600px, 450px, 100px;
        padding: 8em;
    }

    main{
        text-align: start;
    }

    .conjunto{
      display: grid;
      grid-template-columns: 55% 45%;  
      height: 100%;
    }

    .conjunto img{
        position: absolute;
        width: 40%;
        right: 0;
    }

    .texto{
        margin: 10em 33em 0 0;
        position: absolute;
    }

    .texto p{
        font-size: 2em;
    }

    .botoes{
        left: 780px;
        top: 460px;
        width: 100px;   
    }

    .personal{
        display: flex;
    }

    .personal .nome{
        margin-right: 1em;
        font-size: 1.1em;
    }

    .personal .profissao{
        font-size: 1.1em;
    }
}





